.WorkingProcessSection{
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top: 60px;
    display: inline-block;
    h2{
        align-items: center;
        justify-content: center;
        margin-left: 50%;
    }
    .WorkingProcessCardSection{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-left:18%;


    }
}

@media screen and (max-width:768px){
    .WorkingProcessSection{
        justify-content: center;
        align-items: center;
        gap:20px;
        margin-top: 60px;
        display: inline-block;
        h2{
            align-items: center;
            justify-content: center;
            margin-left:35%;
        }
        .WorkingProcessCardSection{
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-left:18%;
    
            
        }
    }
}