.cart-area {
    //position: relative;
    margin-bottom: 20px;
    img {
        width: 100%;
        height: 60px;
    }

    h4 {
        margin-left:5%;

        .shopping-cart {
            // background-color: rgba(var(--btn-primary-color));
            color: rgba(var(--btn-primary-color));
            margin-right: 5px;
        }
    }

    .main-cart-area {
        display: flex;
        flex-wrap: wrap;

        .section1 {
            margin-left:5%;
            width: 45%;
            box-shadow: var(--nav-box-shadow);
        }

        .section2 {
            width: 45%;
            height: 55%;
            padding: 30px;
            box-shadow: var(--nav-box-shadow);
            justify-content: space-between;
            margin-left: 50px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .charges-name {}

            .charges-amt {
                .max-charge {
                    color: rgba(43, 30, 53, 0.5);
                    text-decoration: line-through;
                    margin-right: 10px;
                }
            }

            .payment-btn-section{
                .payment-btn {
                    // position: absolute;
                     // margin-left:54%;
                     // margin-top:-40%;
                     background-color: rgba(var(--btn-primary-color));
                     color: #fff;
                     width:450px;
                     height: 50px;
                     border-radius: 5px;
                     border: none;
                     padding: 10px;
                     text-transform: uppercase;
                     transition: all 0.5s ease-in-out;
                 }
                 .payment-btn:hover{
                     background-color:var(--primary-color);
                     transform: scale(1.1);
                 }
            }
        }
    }


}

@media screen and (max-width:600px){
    .cart-area {
        //position: relative;
    
        img {
            width: 100%;
            height: 60px;
        }
    
        h4 {
            margin-left:5%;
    
            .shopping-cart {
                // background-color: rgba(var(--btn-primary-color));
                color: rgba(var(--btn-primary-color));
                margin-right: 5px;
            }
        }
    
        .main-cart-area {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
    
            .section1 {
                justify-content: center;
                align-items:center;
                margin-top: 20px;
                margin-left:10%;
                width: 90%;
                padding: 10px;
                box-shadow: var(--nav-box-shadow);
            
                
            }
    
            .section2 {
                margin-top: 50px;
                width: 90%;
                height: 55%;
                padding: 30px;
                box-shadow: var(--nav-box-shadow);
                justify-content: space-between;
                margin-left:10%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
    
                .charges-name {}
    
                .charges-amt {
                    .max-charge {
                        color: rgba(43, 30, 53, 0.5);
                        text-decoration: line-through;
                        margin-right: 10px;
                    }
                }
                .payment-btn-section{
                    // display: flex;
                    // flex-direction: column;

                    .payment-btn {
                        background-color: rgba(var(--btn-primary-color));
                        color: #fff;
                        width: 100%;
                        height: 50px;
                        border-radius: 5px;
                        border: none;
                        padding:5px;
                        text-transform: uppercase;
                        transition: all 0.5s ease-in-out;
                    }
                    .payment-btn:hover{
                        background-color:var(--primary-color);
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

@media screen and (min-width:768px){
    .cart-area {
        //position: relative;
    
        img {
            width: 100%;
            height: 60px;
        }
    
        h4 {
            margin-left:5%;
    
            .shopping-cart {
                // background-color: rgba(var(--btn-primary-color));
                color: rgba(var(--btn-primary-color));
                margin-right: 5px;
            }
        }
    
        .main-cart-area {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
    
            .section1 {
                justify-content: center;
                align-items:center;
                margin-top: 20px;
                margin-left:10%;
                width: 80%;
                padding: 10px;
                box-shadow: var(--nav-box-shadow);
            
                
            }
    
            .section2 {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 50px;
                width: 80%;
                height: 55%;
                padding: 30px;
                box-shadow: var(--nav-box-shadow);
                margin-left:10%;
                
                align-items: center;
    
                .charges-name {}
    
                .charges-amt {
                    .max-charge {
                        color: rgba(43, 30, 53, 0.5);
                        text-decoration: line-through;
                        margin-right: 10px;
                    }
                }

                .payment-btn-section{
                    display: flex;
                    flex-direction: column;

                    .payment-btn {
                        background-color: rgba(var(--btn-primary-color));
                        color: #fff;
                        width:450px;
                        height: 50px;
                        border-radius: 5px;
                        border: none;
                        padding: 10px;
                        text-transform: uppercase;
                        transition: all 0.5s ease-in-out;
                    }
                    .payment-btn:hover{
                        background-color:var(--primary-color);
                        transform: scale(1.1);
                    }
                }
            }
        }
    

    }
}