.homecategories{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    // justify-content: center;
    align-items: center;
    margin: 20px 0px;

    h4{
        margin-top: 15px;
        margin-left:5%;
    }
    .category-section{
        display:flex;
        flex-wrap: wrap;
        width:100%;
        justify-content: center;
        align-items: center;
        margin: 0px 0px;
        .category-item{
            justify-content: center;
            align-items: center;
            display:flex;
            flex-wrap: wrap;
            width: 18%;
            height:300px;
            margin:10px;
           
            img{
                width: 95%;
                object-fit: cover;           
            }
        }
    }

}