.navbar-section,nav {
    display: flex;
    flex-direction: column;
    //padding: 2px;
    //box-shadow:var(--nav-box-shadow);
    padding: 4px;
    box-shadow:var(--nav-box-shadow);
    margin:0 -40px 20px -40px;
    .nav-up-section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo-section {
            display: flex;
            align-items: center;
            .shop-logo{
                width: 220px;
                height: 70px;
            }
            .tmart-logo {
                width: 150px;
                height: 45px;
                color: rgb(18, 178, 18)
            }

            .tmart-name {
                color: darkorange;
                text-transform: capitalize;
                margin-left:-40px;
            }
        }

        .searchbar-section {
            display: flex;
            align-items: center;
            box-shadow:var(--nav-box-shadow);
            border:0.1px dotted #635b5b;
            border-radius: 5px;
            overflow: hidden;
            padding: 5px;
            justify-content: space-between;
            width:45%;
            .tmart-search{
                border:none;
                outline: none;
                width: 100%;
                font-size: 16px;
            }
            .search-icon-btn{
                border:none;
                color:var(--primary-color);
                background-color: transparent;
                cursor: pointer;
                
                .search-icon{
                    width:25px;
                    height:25px;
                }

                .search-icon:hover{
                    background-color: var(--primary-color);
                    border-radius:50%;
                    padding: 5px;
                    color:#fff;
                }
            }

           
        }


        .nav-right{
            display: flex;
            gap:30px;
            justify-content: space-between;
            align-items: center;
            margin-right: 35px;
            cursor: pointer;
            .cart-section{
                position: relative;
                display: flex;
                width:200px;
                background-color: rgba(var(--btn-primary-color));
                color: #fff;
                width: 130px;
                border-radius: 10px;
                border: none;
                transition: all 0.5s ease-in-out;;
                justify-content: space-around;
                align-items: center;
                .shopping-cart{
                    width: 22px;
                    height: 22px;
                }
                .my-cart{
                    margin-top: 15px;
                    font-weight: 500;
                    margin-left: -25px;
                }
                .cart-qty{
                    position: absolute;   
                    display: flex;
                    justify-content: center;
                    align-items: center;             
                    background-color: var(--primary-color);
                    color:#fff;
                    border-radius: 50%;
                    padding: 4px;
                    width: 25px;
                    height: 25px;
                    margin-top:-42px;
                    margin-left: 12px;
                    text-align: center;
                }
            }

            .cart-section:hover{
                transform: scale(1.1);
            }

            .user-section{
                //margin-right: 80px;
                width:180px;
                display:flex;
                justify-content: space-around;
                align-items: center;

                h4{
                    margin-top:15px;
                }
                a{
                    cursor: pointer;
                    font-weight: 400;
                    font-size: 16px;
                    text-decoration: none;
                    color:#000;
        
                }
        
                a:hover{
                    color: var(--primary-color);
                }
                .user-icon{
                    
                }
            }
            .logout-icon{
                cursor: pointer;
                font-weight: 400;
                font-size: 16px;
                text-decoration: none;
                color:#000;
            }
        }
    }

    .nav-down-section {
        display: flex;
        justify-content:center;
        align-items: center;
        gap:3%;
        padding: 10px;
        a{
            cursor: pointer;
            font-weight: 400;
            font-size: 16px;
            text-decoration: none;
            color:#000;

        }

        a:hover{
            color: var(--primary-color);
        }
    }
}