*{
  margin: 0;
  padding: 0;
  font-weight: 400;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}

:root{
  --primary-color:#7ED957;
  --secondary-color:gray;
  --accent-color:#cecece;
  --btn-color:#DA0C81;
  --offer-background-color:#940B92;
  --btn-primary-color:255,50,105;
  --nav-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.nav-icon{
  width:27px;
  height:27px;
}

.nav-icon:hover{
  color:var(--primary-color);
}

